.card-columns
    .card
        img.card-img-top(src='https://picsum.photos/250/245/?random?noresize' alt='image')
        .input-group.mb-3
            select#inputGroupSelect02.custom-select
                option(selected='') Choose...
                option(value='1') One
                option(value='2') Two
                option(value='3') Three
            .input-group-append
                label.input-group-text(for='inputGroupSelect02') Save
        i.fas.fa-sign-in-alt.fa-2x
        .card-body
            p.card-text
                | simple soup recipes
    .card
        img.card-img-top(src='https://picsum.photos/250/250/?random?noresize' alt='image')
        .input-group.mb-3
            select#inputGroupSelect02.custom-select
                option(selected='') Choose...
                option(value='1') One
                option(value='2') Two
                option(value='3') Three
            .input-group-append
                label.input-group-text(for='inputGroupSelect02') Save
        i.fas.fa-sign-in-alt.fa-2x
    .card
        img.card-img-top(src='https://picsum.photos/250/350/?random' alt='image')
        .input-group.mb-3
            select#inputGroupSelect02.custom-select
                option(selected='') Choose...
                option(value='1') One
                option(value='2') Two
                option(value='3') Three
            .input-group-append
                label.input-group-text(for='inputGroupSelect02') Save
        i.fas.fa-sign-in-alt.fa-2x
    .card
        img.card-img-top(src='https://picsum.photos/250/200/?random' alt='image')
        .input-group.mb-3
            select#inputGroupSelect02.custom-select
                option(selected='') Choose...
                option(value='1') One
                option(value='2') Two
                option(value='3') Three
            .input-group-append
                label.input-group-text(for='inputGroupSelect02') Save
        i.fas.fa-sign-in-alt.fa-2x
        .card-body
            p.card-text
                | 7 Tips to Help you Lose Weight    
    .card
        img.card-img-top(src='https://picsum.photos/250/450/?random' alt='image')
        .input-group.mb-3
            select#inputGroupSelect02.custom-select
                option(selected='') Choose...
                option(value='1') One
                option(value='2') Two
                option(value='3') Three
            .input-group-append
                label.input-group-text(for='inputGroupSelect02') Save
        i.fas.fa-sign-in-alt.fa-2x
    .card
        img.card-img-top(src='https://picsum.photos/250/220/?random' alt='image')
        .input-group.mb-3
            select#inputGroupSelect02.custom-select
                option(selected='') Choose...
                option(value='1') One
                option(value='2') Two
                option(value='3') Three
            .input-group-append
                label.input-group-text(for='inputGroupSelect02') Save
        i.fas.fa-sign-in-alt.fa-2x
        .card-body
            p.card-text
                | a review of the five best cameras    
    .card
        img.card-img-top(src='https://picsum.photos/250/240/?random' alt='image')
        .input-group.mb-3
            select#inputGroupSelect02.custom-select
                option(selected='') Choose...
                option(value='1') One
                option(value='2') Two
                option(value='3') Three
            .input-group-append
                label.input-group-text(for='inputGroupSelect02') Save
        i.fas.fa-sign-in-alt.fa-2x
    .card
        img.card-img-top(src='https://picsum.photos/250/370/?random' alt='image')
        .input-group.mb-3
            select#inputGroupSelect02.custom-select
                option(selected='') Choose...
                option(value='1') One
                option(value='2') Two
                option(value='3') Three
            .input-group-append
                label.input-group-text(for='inputGroupSelect02') Save
        i.fas.fa-sign-in-alt.fa-2x
        .card-body
            h5.card-title Most popular national parks in America
            p.card-text
                | Grand Canyon... YellowStone ...    
    .card
        img.card-img-top(src='https://picsum.photos/250/222/?random' alt='image')
        .input-group.mb-3
            select#inputGroupSelect02.custom-select
                option(selected='') Choose...
                option(value='1') One
                option(value='2') Two
                option(value='3') Three
            .input-group-append
                label.input-group-text(for='inputGroupSelect02') Save
        i.fas.fa-sign-in-alt.fa-2x
    .card
        img.card-img-top(src='https://picsum.photos/250/372/?random' alt='image')
        .input-group.mb-3
            select#inputGroupSelect02.custom-select
                option(selected='') Choose...
                option(value='1') One
                option(value='2') Two
                option(value='3') Three
            .input-group-append
                label.input-group-text(for='inputGroupSelect02') Save
        i.fas.fa-sign-in-alt.fa-2x
    .card
        img.card-img-top(src='https://picsum.photos/250/355/?random' alt='image')
        .input-group.mb-3
            select#inputGroupSelect02.custom-select
                option(selected='') Choose...
                option(value='1') One
                option(value='2') Two
                option(value='3') Three
            .input-group-append
                label.input-group-text(for='inputGroupSelect02') Save
        i.fas.fa-sign-in-alt.fa-2x
        .card-body
            p.card-text
                | Hiking tips and tricks    
    .card
        img.card-img-top(src='https://picsum.photos/250/458/?random' alt='image')
        .input-group.mb-3
            select#inputGroupSelect02.custom-select
                option(selected='') Choose...
                option(value='1') One
                option(value='2') Two
                option(value='3') Three
            .input-group-append
                label.input-group-text(for='inputGroupSelect02') Save
        i.fas.fa-sign-in-alt.fa-2x
    .card
        img.card-img-top(src='https://picsum.photos/250/199/?random' alt='image')
        .input-group.mb-3
            select#inputGroupSelect02.custom-select
                option(selected='') Choose...
                option(value='1') One
                option(value='2') Two
                option(value='3') Three
            .input-group-append
                label.input-group-text(for='inputGroupSelect02') Save
        i.fas.fa-sign-in-alt.fa-2x
    .card
        img.card-img-top(src='https://picsum.photos/250/212/?random' alt='image')
        .input-group.mb-3
            select#inputGroupSelect02.custom-select
                option(selected='') Choose...
                option(value='1') One
                option(value='2') Two
                option(value='3') Three
            .input-group-append
                label.input-group-text(for='inputGroupSelect02') Save
        i.fas.fa-sign-in-alt.fa-2x
        .card-body
            p.card-text
                | best winter beauty tips    
    .card
        img.card-img-top(src='https://picsum.photos/250/390/?random' alt='image')
        .input-group.mb-3
            select#inputGroupSelect02.custom-select
                option(selected='') Choose...
                option(value='1') One
                option(value='2') Two
                option(value='3') Three
            .input-group-append
                label.input-group-text(for='inputGroupSelect02') Save
        i.fas.fa-sign-in-alt.fa-2x
    .card
        img.card-img-top(src='https://picsum.photos/250/229/?random' alt='image')
        .input-group.mb-3
            select#inputGroupSelect02.custom-select
                option(selected='') Choose...
                option(value='1') One
                option(value='2') Two
                option(value='3') Three
            .input-group-append
                label.input-group-text(for='inputGroupSelect02') Save
        i.fas.fa-sign-in-alt.fa-2x
    .card
        img.card-img-top(src='https://picsum.photos/250/351/?random' alt='image')
        .input-group.mb-3
            select#inputGroupSelect02.custom-select
                option(selected='') Choose...
                option(value='1') One
                option(value='2') Two
                option(value='3') Three
            .input-group-append
                label.input-group-text(for='inputGroupSelect02') Save
        i.fas.fa-sign-in-alt.fa-2x
        .card-body
            h5.card-title New Year Resolutions
            p.card-text
                | How to make promises to yourself you can actually keep    
    .card
        img.card-img-top(src='https://picsum.photos/250/150/?random' alt='image')
        .input-group.mb-3
            select#inputGroupSelect02.custom-select
                option(selected='') Choose...
                option(value='1') One
                option(value='2') Two
                option(value='3') Three
            .input-group-append
                label.input-group-text(for='inputGroupSelect02') Save
        i.fas.fa-sign-in-alt.fa-2x
    .card
        img.card-img-top(src='https://picsum.photos/250/479/?random' alt='image')
        .input-group.mb-3
            select#inputGroupSelect02.custom-select
                option(selected='') Choose...
                option(value='1') One
                option(value='2') Two
                option(value='3') Three
            .input-group-append
                label.input-group-text(for='inputGroupSelect02') Save
        i.fas.fa-sign-in-alt.fa-2x
        .card-body
            p.card-text
                | beauty and fashion   
    .card
        img.card-img-top(src='https://picsum.photos/250/280/?random' alt='image')
        .input-group.mb-3
            select#inputGroupSelect02.custom-select
                option(selected='') Choose...
                option(value='1') One
                option(value='2') Two
                option(value='3') Three
            .input-group-append
                label.input-group-text(for='inputGroupSelect02') Save
        i.fas.fa-sign-in-alt.fa-2x

.footer
    .footer-icons
        i.fa.fa-plus(aria-hidden='true')
        i.fa.fa-question(aria-hidden='true')
        p.icon-footer Privacy

