div.row
    div.image
        a(href='#')
            div.column
                img(src='https://picsum.photos/250/250/?random')
            div.column
                img(src='https://picsum.photos/250/200/?random')
            div.column
                img(src='https://picsum.photos/250/350/?random')
            div.column
                img(src='https://picsum.photos/250/400/?random')
    div.image
        a(href='#')
            div.column
                img(src='https://picsum.photos/250/270/?random')
            div.column
                img(src='https://picsum.photos/250/210/?random')
            div.column
                img(src='https://picsum.photos/250/350/?random')
            div.column
                img(src='https://picsum.photos/250/400/?random')
    div.image
        a(href='#')
            div.column
                img(src='https://picsum.photos/250/400/?random')
            div.column
                img(src='https://picsum.photos/250/250/?random')
            div.column
                img(src='https://picsum.photos/250/350/?random')
            div.column
                img(src='https://picsum.photos/250/400/?random')
    div.image
        a(href='#')
            div.column
                img(src='https://picsum.photos/250/250/?random')
            div.column
                img(src='https://picsum.photos/250/250/?random')
            div.column
                img(src='https://picsum.photos/250/350/?random')
            div.column
                img(src='https://picsum.photos/250/400/?random')
    div.image
        a(href='#')
            div.column
                img(src='https://picsum.photos/250/390/?random')
            div.column
                img(src='https://picsum.photos/250/250/?random')
            div.column
                img(src='https://picsum.photos/250/350/?random')
            div.column
                img(src='https://picsum.photos/250/400/?random')
 
 
 
 
 
 
 
 
 
  
 
 
 
 
 
 
 
 
 




//- img.card-img-top(src='https://placeimg.com/300/250/people' alt='placeholder')
//- .card-body
//- h5.card-title Card title
//- p.card-text
    //- | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
//- 
                //- .card
                    //- img.card-img-top(src='https://placeimg.com/300/250/animals' alt='placeholder')
                    //- .card-body
                    //- h5.card-title Card title
                    //- p.card-text This card has supporting text below as a natural lead-in to additional content.
                //-    
                //- .card
                    //- img.card-img-top(src='https://placeimg.com/300/250/architecture' alt='placeholder')
                    //- .card-body
                    //- h5.card-title Card title
                    //- p.card-text
                        //- | This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.
                    //- 
                //- .card
                    //- img.card-img-top(src='https://placeimg.com/300/250/nature' alt='placeholder')
                    //- .card-body
                    //- h5.card-title Card title
                    //- p.card-text
                        //- | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                    //- 
                //- .card
                    //- img.card-img-top(src='https://placeimg.com/300/250/tech' alt='placeholder')
                    //- .card-body
                    //- h5.card-title Card title
                    //- p.card-text
                        //- | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                    

    //- .row
    //-     .col
    //-         .card-deck
    //-             .card
    //-                 img.card-img-top(src='https://placeimg.com/300/250/people' alt='placeholder')
    //-                 .card-body
    //-                 h5.card-title Card title
    //-                 p.card-text
    //-                     | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.

    //-             .card
    //-                 img.card-img-top(src='https://placeimg.com/300/250/animals' alt='placeholder')
    //-                 .card-body
    //-                 h5.card-title Card title
    //-                 p.card-text
    //-                     | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                    
    //-             .card
    //-                 img.card-img-top(src='https://placeimg.com/300/250/architecture' alt='placeholder')
    //-                 .card-body
    //-                 h5.card-title Card title
    //-                 p.card-text This card has supporting text below as a natural lead-in to additional content.
                    
    //-             .card
    //-                 img.card-img-top(src='https://placeimg.com/300/250/nature' alt='placeholder')
    //-                 .card-body
    //-                 h5.card-title Card title
    //-                 p.card-text
    //-                     | This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.
                                    
    //-             .card    
    //-                 img.card-img-top(src='https://placeimg.com/300/250/tech' alt='placeholder')
    //-                 .card-body
    //-                 h5.card-title Card title
    //-                 p.card-text
    //-                     | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                    
    //- .row
    //-     .col
    //-         .card-deck
    //-             .card
    //-                 img.card-img-top(src='https://placeimg.com/300/250/people' alt='placeholder')
    //-                 .card-body
    //-                 h5.card-title Card title
    //-                 p.card-text
    //-                     | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.

    //-             .card
    //-                 img.card-img-top(src='https://placeimg.com/300/250/animals' alt='placeholder')
    //-                 .card-body
    //-                 h5.card-title Card title
    //-                 p.card-text
    //-                     | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                    
    //-             .card
    //-                 img.card-img-top(src='https://placeimg.com/300/250/architecture' alt='placeholder')
    //-                 .card-body
    //-                 h5.card-title Card title
    //-                 p.card-text This card has supporting text below as a natural lead-in to additional content.
                    
    //-             .card
    //-                 img.card-img-top(src='https://placeimg.com/300/250/nature' alt='placeholder')
    //-                 .card-body
    //-                 h5.card-title Card title
    //-                 p.card-text
    //-                     | This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.
                    
    //-             .card
    //-                 img.card-img-top(src='https://placeimg.com/300/250/tech' alt='placeholder')
    //-                 .card-body
    //-                 h5.card-title Card title
    //-                 p.card-text
    //-                     | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.

    //- .row
    //-     .col
    //-         .card-deck
    //-             .card
    //-                 img.card-img-top(src='https://placeimg.com/300/250/people' alt='placeholder')
    //-                 .card-body
    //-                 h5.card-title Card title
    //-                 p.card-text
    //-                     | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                    
    //-             .card
    //-                 img.card-img-top(src='https://placeimg.com/300/250/animals' alt='placeholder')
    //-                 .card-body
    //-                 h5.card-title Card title
    //-                 p.card-text This card has supporting text below as a natural lead-in to additional content.
                    
    //-             .card
    //-                 img.card-img-top(src='https://placeimg.com/300/250/architecture' alt='placeholder')
    //-                 .card-body
    //-                 h5.card-title Card title
    //-                 p.card-text
    //-                     | This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.
                    
    //-             .card
    //-                 img.card-img-top(src='https://placeimg.com/300/250/nature' alt='placeholder')
    //-                 .card-body
    //-                 h5.card-title Card title
    //-                 p.card-text
    //-                     | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                    
    //-             .card
    //-                 img.card-img-top(src='https://placeimg.com/300/250/tech' alt='placeholder')
    //-                 .card-body
    //-                 h5.card-title Card title
    //-                 p.card-text
    //-                     | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.

    //- .row
    //-     .col
    //-         .card-deck
    //-             .card
    //-                 img.card-img-top(src='https://placeimg.com/300/250/people' alt='placeholder')
    //-                 .card-body
    //-                 h5.card-title Card title
    //-                 p.card-text
    //-                     | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                    
    //-             .card
    //-                 img.card-img-top(src='https://placeimg.com/300/250/animals' alt='placeholder')
    //-                 .card-body
    //-                 h5.card-title Card title
    //-                 p.card-text This card has supporting text below as a natural lead-in to additional content.
                    
    //-             .card
    //-                 img.card-img-top(src='https://placeimg.com/300/250/architecture' alt='placeholder')
    //-                 .card-body
    //-                 h5.card-title Card title
    //-                 p.card-text
    //-                     | This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.
                    
    //-             .card
    //-                 img.card-img-top(src='https://placeimg.com/300/250/nature' alt='placeholder')
    //-                 .card-body
    //-                 h5.card-title Card title
    //-                 p.card-text
    //-                     | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                   
    //-             .card
    //-                 img.card-img-top(src='https://placeimg.com/300/250/tech' alt='placeholder')
    //-                 .card-body
    //-                 h5.card-title Card title
    //-                 p.card-text
    //-                     | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                 


            











