div.header
    div.nav 
        div.logo        
            i.fab.fa-pinterest.fa-2x
        div.form-group.has-search
            span.fa.fa-search.form-control-feedback
            input.form-control(type='text' placeholder='Search')
        div.list
            div#home.nav-item
                a(href='#') Home
            div#following.nav-item
                a(href='#') Following
            div#friends.nav-item.icons
                i.fas.fa-user-friends.fa-lg
            div.user
                div#user.nav-item.icons
                    i.fa.fa-circle.fa-lg(aria-hidden='true')
                div.nav-item.user
                    a(href='#') Shakira
            div.nav-item.icons
                i.fas.fa-comment-dots.fa-lg
            div.nav-item.icons
                i.fa.fa-bell.fa-lg(aria-hidden='true')
            div.nav-item.icons              
                i.fa.fa-ellipsis-h.fa-lg(aria-hidden='true')
    


            


