.container-fluid
    .row
        .col-xl-1   
            div.logo           
                img.logo(src='../images/favicon.png' alt='logo')
        .col-xl-7 
            div.input
                input(type='text' placeholder='Search')
        .col-xl-4 
            ul
                li.nav-item
                    a(href='#') Home
                li.nav-item
                    a(href='#') Following
                li.nav-item.icons
                    i.fa.fa-circle(aria-hidden='true')
                    
                    a(href='#') Shakira
                    
                    i.fas.fa-comment-dots
                    
                    i.fa.fa-bell(aria-hidden='true')
                    i.fa.fa-ellipsis-h(aria-hidden='true')



            


