@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./partials/header.scss";
@import "./partials/content.scss";

body {
  background: #fff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0 auto;
}

.card-columns {
  margin: 0 auto;
  padding-top: 28px;
  @include media-breakpoint-only(xs) {
    column-count: 2;
  }
  @include media-breakpoint-only(sm) {
    column-count: 2;
    width: 70vw;
  }
  @include media-breakpoint-only(md) {
    column-count: 3;
    width: 80vw;
  }
  @include media-breakpoint-only(lg) {
    column-count: 4;
    width: 85vw;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
    width: 98vw;
  }
}

.card {
  position: relative;
  border: 5px;
  border-radius: 3%;
  padding: 8px;
  font-size: 12px;
  font-weight: 600;
  transition: all 0.2s linear; 
}

.card:hover {
  background: #e6e6e6;
  opacity: 0.9;
  border: none;
  cursor: zoom-in;
}

.card-img-top {
  border-radius: 3%;
  background: rgba(0, 0, 0, 0.6);
}

h5 {
  font-size: 18px;
  font-weight: 600;
}

.input-group.mb-3 {
  position: absolute;
  top: 25px;
  left: 0;
  padding: 0 15px;
  margin-bottom: 7px;
  visibility: hidden;
}

.card:hover .input-group.mb-3 {
  visibility: visible;
}

.input-group-text {
  background: #ff0000;
  color: #fff;
  font-weight: 600;
}

.fa-sign-in-alt {
  display: block;
  position: absolute;
  bottom: 85px;
  right: 16px;
  background: rgba(38, 38, 38, 0.8);
  color: #fff;
  padding: 10px;
  border-radius: 50%;
  visibility: hidden;
}

.card:hover .fa-sign-in-alt {
  visibility: visible;
}

.footer {
  border: solid purple 2px;
  float: right;
  position: relative;
}

.footer-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 1px;
  right: 0.5px;
  padding: 5px 10px;
}

.footer-icons .fa {
  border: solid gray 0.4px;
  border-bottom: solid lightgray 2px;
  border-radius: 50%;
  padding: 15px;
  margin-top: 10px;
  color: #404040;
  background: #fff;
 } 

 .footer-icons p {
  border: solid gray 0.4px;
  border-bottom: solid lightgray 2px;
  color: #404040;
  border-radius: 9%;
  padding: 5px 8px;;
  margin-top: 5px;
  font-size: 13px;
  font-weight: bold;
  background: #fff;
}