@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./partials/header.scss";
@import "./partials/content.scss";

body {
  position: relative;
  background: #fff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0 auto;
}

  // i {
    // border: solid orange 1px;
    // margin: 0 10px;

  // }
  // input {
    // width: 100%;
    // margin-top: 10px;
    // margin-bottom: 10px;
    // background-color: #D3D3D3;
    // border-radius: 5px;
  // }
// 
// div.list {
  // flex: 1 1 auto;
// }
// div.list {
    // border: solid green 1px;
  // margin: 15px 10px;
  // flex: 1 1 auto;
  // margin-left: 5px;
// }
  // li {
    // border: solid green 1px;
  // }

  // .container-fluid {
    // border: solid red 1px;
    // border-bottom: solid gray 1px;
  // }

  // .row {
    // border: solid blue 1px;
  // }

  // .col-xl-1 {
    // border: solid yellow 1px;
    // display: flex;
    // justify-content: flex-start
    // text-align: center;
  // }

  // .col-xl-7 {
    // border: solid yellow 1px;
  // }
  // .col-xl-4 {
    // border: solid yellow 1px;
  // }

  // header {
  //   border: solid yellow 1px;
  // }

  // div {
  //   border: solid yellow 1px;
  // }

  // nav {
  //   // display: flex;
  //   flex-direction: row;
  //   justify-content: space-between;
  // }

  img{
    display: block;
    // margin: 
  }

  div.content {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    // border: solid blue 1px;
    // margin: 0 auto;
    width: 95vw;

  }
  div.image {
    // border: solid orange 1px;
    display: inline;
    padding: 0 10px;
  }

  div.column {
    // border: solid orange 1px;
    margin: 10px 0;
    border-radius: 7px;
  }

  img {
    border-radius: 7px;

  }
  div.column:hover {
    opacity: 0.5;
    background: lightgray;
    }

  div.content {    
    // border: solid orange 5px;
    margin: 0 auto;
  }
