div.header {
    border-bottom: solid #e6e6e6 0.5px; 
    background: #fff;
    width: 100vw;
    position: sticky;
    top: 0;
}
  
div.nav {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    flex-wrap: nowrap;
    width: 100%;
}

div.logo {
    margin-right: 15px;
}
    
.fa-pinterest {
    color: #cb2027;
    padding: 10px;
}

.fa-pinterest:hover {
    background: #f2f2f2;
    border-radius: 50%;
}

/* search box section*/
.form-group.has-search {
    flex: 1 1 auto;
    margin: 10px;
    min-width: 410px;
    height: 40px;
}

.has-search .form-control {
    background: #f2f2f2;
    padding-left: 2.375rem;
}
  
.has-search .form-control-feedback {
    display: block;
    text-align: center;
    position: absolute;
    z-index: 2;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    pointer-events: none;
    color: #aaa;
}
   
/*links section*/
div.list {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    font-size:  18px;
    padding-left: 0;
}
  
.nav-item {
    display: inline;
    padding: 0 15px;
}

.nav-item:hover {
    background: #f2f2f2;
    padding: 10px;
    border-radius: 50%;
}

#home a {
    color: #000;
}

#home:hover, #following:hover, div.user:hover {
    background: #f2f2f2;
    padding: 10px 15px;
    border-radius: 25px;
}
  
.nav-item a {
    color:#999;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none; 
    margin-bottom: 5px;   
}
  
.nav-item.icons {
    color:#999;
}
  
#user.nav-item.icons {
    padding-top: 3px;
    padding-right: 5px;
}

div.nav-item.user {
    padding-left: 0;
    margin-top: 5px;
}
  
/*media queries */
@media only screen and (max-width: 992px) {
    .nav-item.user, #home.nav-item, #following.nav-item {
        display: none;
    }
    #friends.nav-item {
        display: inline;
        color:#999;
        padding: 0 15px;
    }
    #user.nav-item.icons {
        padding-right: 5px;
    }
    
    div.user {
        padding-right: 10px;
    }
    #friends:hover, div.user:hover {
        background: #f2f2f2;
        border-radius: 50%;
        padding: 10px;
    }
    div.user:hover {
        padding: 10px 10px 10px 0;
    }
}

@media only screen and (min-width: 993px) {
    #friends.nav-item {
        display: none;
    }
}
  